body 
{
	color: #888;
	margin: 0;
	padding: 0;
}

div.content
{
	background-color: #000;
	background-image:url('/templates/example/desktop/img/bg.png');
	background-repeat: repeat;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	height: 100%;
}

/*
	HEADER SECTION
*/

div.header
{
	width: 70%;
	margin: 0 auto;
	text-align: left;
}

.header h1
{
	padding: 10 0;
	margin: 0;
}

/*
	TABS SECTION
*/
div.tabs
{
	background: #000;
}

div.tabs_inner
{
	display: inline-block;
	width: 70%;
	margin: 0 auto;
}

.tabs ul
{
	margin: 0;
	padding: 0;
}

.tabs li
{
	list-style: none;
	float: left;
}

.tabs li a
{
	display: inline-block;
	padding: 0.6em 1.5em;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

.tabs li a:hover
{
	background: #444;
}

/*
	MAIN SECTION
*/
div.main
{
	width: 70%;
	margin: 0 auto;
	text-align: left;	
}

div.main_left
{
	width: 70%;
}

div.main_right
{

}

.main_content
{
	width:100%;
	background: #111;
}

/*
	BOTTOM SECTION
*/
div.bottom
{
	width: 70%;
	margin: 0 auto;
	padding: 10 0;
	border-width: 1;
	border-color: #222;
	border-style: solid;
	background-color: #111;
}