<?php
/*
	Name:	CNews read error template
	Author:	Alex009 (Михайлов Алексей)
	Input:	
		errors - array of errors
	Errors:
		ERROR_DB_ERROR
*/
?>

<center>
Errors: 
<?php 
	if(isset($params["errors"]["ERROR_DB_ERROR"])) echo CFactory::GetDatabase()->GetError() . "<br>";
?><br>
</center>