<?php
/*
	Name:	CNews main error template
	Author:	Alex009 (Михайлов Алексей)
	Input:	
		errors - array of errors
	Errors:
		ERROR_DB_ERROR
*/
?>

<center>
Errors: 
<?php 
	echo var_dump($params["errors"]);
?><br>
</center>