
#content 
{
	font: 14px Verdana;
	color: #888;
	margin: 5px;
	padding: 5px;
}

#content .news 
{
	border: 1px solid #444;
	padding: 3px;
	margin-bottom: 10px;
}

#content .head 
{
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 3px;
}

#content .content
{
	font-size: 14px;
	font-style: Verdana;
}

#content .date 
{
	font-weight: normal;
	font-size: 12px;
	float: right;
}

.active_link
{
	font-size: 15px;
	border: 1px solid #CCC;
	padding: 3px;
}

.page_link
{
	font-size: 15px;
	border: 1px solid #CCC;
	padding: 3px;
}
