<?php
/*
	Name:	Closed archive list input template
	Author:	Alex009 (Михайлов Алексей)
	Input:	
		-
*/
?>

<div class="data_block">
	<form method="post" align="center">
		<label>Code:</label> <input name="code" type="text" size="33" maxlength="32" align="right"><br>
		<input type="submit" name="submit" value="Перейти">
	</form>	
</div>