<?php
/*
	Name:	CRole create template
	Author:	Alex009 (Михайлов Алексей)
	Input:	
		-
*/
?>

<div class="data_block">
	<form method="post">
		<label>Name:</label> <input name="name" type="text" size="32" maxlength="32" align="right"><br>
		<input type="submit" name="submit" value="Create">
	</form>
</div>
