body 
{
	color: #FFF;
	font-family: Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background-color: #000;
}

p
{
	padding: 0;
	margin: 0;
}

a
{
	color: #999;
}

.content
{
	background-image:url('/templates/my/desktop/img/bg.png');
	background-repeat: repeat;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.table_dotted td
{
	border-color: #333;
	border-width: 1;
	vertical-align: top;
	border-style: dotted;
}

.table_hidden td
{
	border-width: 0;
	vertical-align: top;
	border-style: none;
}

/*
	HEADER SECTION
*/

.header
{
	width: 70%;
	margin: 0 auto;
	text-align: left;
}

.header h1
{
	padding: 10 0;
	margin: 0;
}

/*
	TABS SECTION
*/
.tabs
{
	background: #000;
}

.tabs_inner
{
	display: inline-block;
	width: 70%;
	margin: 0 auto;
}

.tabs ul
{
	margin: 0;
	padding: 0;
}

.tabs li
{
	list-style: none;
	float: left;
}

.tabs li a
{
	display: inline-block;
	padding: 0.6em 1.5em;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
}

.tabs li a:hover
{
	background: #444;
}

/*
	MAIN SECTION
*/
.main
{
	width: 70%;
	margin: 0 auto;
	text-align: left;
	display: table;
}

.main_left
{
	float: left;
	width: 70%;
}

.main_right
{
	margin-left: 70%;
}

.data_block
{
	background: #111;
	border-width: 1;
	border-color: #222;
	border-style: solid;
	margin: 20 20;
	padding: 5;
}

.data_block h1
{
	padding: 0 0;
	margin: 0 0 5;
	border-bottom-style: groove;
	border-bottom-width: 2;
	border-bottom-color: #777;
	font-size: 16;
}

.data_header
{
	font-family: Tahoma;
	color: #777;
	font-size: 12;
	padding-bottom: 5;
}

.data_text
{
	border-color: #777;
	border-width: 2 0;
	border-style: groove;
	padding: 5 0;
}

.data_bottom
{
	font-family: Tahoma;
	color: #777;
	font-size: 12;
	padding-top: 5;
}

/*
	BOTTOM SECTION
*/
.bottom
{
	clear: both;
	margin: 0 auto;
	padding: 30 0;
	border-width: 1;
	border-color: #222;
	border-style: solid;
	background-color: #111;
}

/*
	NEWS MODULE SECTION
*/

.news_header
{
	font-family: Tahoma;
	color: #777;
	font-size: 12;
	padding-bottom: 5;
}

.news_header a
{
	font-size: 14;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	display: inline-block;
}

.news_header a:hover
{
	text-decoration: underline;
}

.news_header span
{
	float: right;
}

.news_text
{
	border-color: #777;
	border-width: 2 0;
	border-style: groove;
	padding: 5 0;
}

.news_bottom
{
	font-family: Tahoma;
	color: #777;
	font-size: 12;
	padding-top: 5;
}

.news_bottom span
{
	float: right;
}

.news_page
{
	text-align: center;
}

.news_page a
{
	color: #FFF;
	text-decoration: none;
	border-color: #777;
	border-width: 2;
	padding: 3;
	display: inline-block;
	border-style: outset;
}

.news_page a:hover
{
	border-style: inset;
}

.news_page span
{
	color: #FFF;
	border-color: #777;
	border-width: 2;
	padding: 3;
	display: inline-block;
	border-style: inset;	
	background: #444;
}