<?php
/*
	Name:	CUser info error template
	Author:	Alex009 (Михайлов Алексей)
	Input:		
		errors - array of errors
	Errors:
		ERROR_NOT_FOUND
*/
?>

<center>
<?php 
if(isset($params["errors"]["ERROR_NOT_FOUND"])) echo "user not found<br>";
?>
</center>
