<?php
/*
	Name:	CUser register template
	Author:	Alex009 (Михайлов Алексей)
	Input:	
		-
*/
?>

<form method="post">
	<label>E-Mail:</label> <input name="email" type="text" size="20" maxlength="64" align="right"><br>
	<label>Login:</label> <input name="login" type="text" size="20" maxlength="32" align="right"><br>
	<label>Password:</label> <input name="password" type="password" size="20" maxlength="32" align="right"><br>
	<label>First name:</label> <input name="first_name" type="text" size="20" maxlength="32" align="right"><br>
	<label>Last name:</label> <input name="last_name" type="text" size="20" maxlength="32" align="right"><br>
	<label>birthday:</label> <input name="birthday" type="date" align="right"><br>
	<label>sex:</label> 
	<select name="sex" size="1">
		<option selected="selected" value="true">Man</option>
		<option value="false">Woman</option>
	</select><br>
	<label>avatar:</label> <input name="avatar" type="text" size="15" maxlength="15" align="right"><br>
	<input type="submit" name="submit" value="Register">
</form>