<?php
/*
	Name:	CUser login template
	Author:	Alex009 (Михайлов Алексей)
	Input:	
		-
*/
?>

<form method="post">
	<label>Login:</label> <input name="login" type="text" size="20" maxlength="32" align="right"><br>
	<label>Password:</label> <input name="password" type="password" size="20" maxlength="32" align="right"><br>
	<input type="submit" name="submit" value="Login">
</form>